<nav>
  <div class="nav-left">
    <% if request.path != '/' %>
      <span><a href="/">home</a></span>
    <% end %>
    <% if request.path =~ %r{^/admin.+} %>
      <span><a href="/admin">admin</a></span>
    <% end %>
    <% if request.path =~ %r{^/admin/clubs.+} %>
      <span><a href="/admin/clubs">clubs</a></span>
    <% end %>
    <% if request.path =~ %r{^/admin/users.+} %>
      <span><a href="/admin/users">users</a></span>
    <% end %>
  </div>

  <div class="nav-right">
    <%= nav_links.join(' ') %>
  </div>
</nav>
