<%= erb :_user %>

<p><a href="/">home</a></p>

<h1>About RagChew.app</h1>

<p>
  This website displays information from ongoing on-the-air gatherings (or "nets")
  for amateur radio hobbyists. You still need a radio to communicate properly with
  the other netizens, but this website makes it easy to see who has checked in and
  from where. It shows checked in station details and notes written by the operator
  logging for the net.
</p>

<p>
  Additionally, you can chat on the "blue screen" or "AIM" window, without downloading
  any software.
</p>

<p>
  This website works in any <em class="highlight">modern browser or mobile phone</em>.
</p>

<h2>How does it work?</h2>

<p>
  This website mirrors the information on <a href="https://netlogger.org/">NetLogger</a>
  servers. Any net where the operator has chosen to use NetLogger should show up here.
  If you <em>really</em> want to know how it all works, you can
  <a href="https://github.com/seven1m/ragchew.app">check out the source code</a>.
</p>

<p>
  We have permission from the NetLogger folks to display this information, but we are
  not affiliated with them. If you have any questions about or problems with this site,
  please <a href="mailto:<%== SUPPORT_EMAIL %>">contact Tim</a>.
</p>
