<h1>Stats</h1>

<h2>Hourly</h2>

<div class="columns">
  <div class="column" id="user_chart_hourly" data-data="<%= json_for_html_attribute @user_stats_hourly %>"></div>
  <div class="column" id="net_chart_hourly" data-data="<%= json_for_html_attribute @net_stats_hourly %>"></div>
</div>

<h2>Daily</h2>

<div class="columns">
  <div class="column" id="user_chart_daily" data-data="<%= json_for_html_attribute @user_stats_daily %>"></div>
  <div class="column" id="net_chart_daily" data-data="<%= json_for_html_attribute @net_stats_daily %>"></div>
</div>

<script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  buildStatCharts()
})
</script>
