<h1>Groups and Clubs</h1>

<% if params[:suggested] %>
<p><strong>Thank you for your suggestion! It will be reviewed and added if appropriate.</strong></p>
<% end %>

<p>
  I add groups and clubs here manually, as I get time. Of course, this is only some of the clubs that exist.
  <a href="/suggest-club">Suggest a club</a> or <a href="mailto:<%== SUPPORT_EMAIL %>">email me</a>. -Tim
</p>

<ul>
  <% @clubs.each do |name, full_name| %>
    <li><a href="/group/<%== url_escape(name) %>"><%== full_name.presence || name %></a></li>
  <% end %>
</ul>
