<h1>Groups and Clubs</h1>

<p>
  I add groups and clubs here manually, as I get time. Of course, this is only some of the clubs that exist.
  Please <a href="mailto:<%== SUPPORT_EMAIL %>">email me</a> to suggest a new one. -Tim
</p>

<ul>
  <% @clubs.each do |name, full_name| %>
    <li><a href="/group/<%== url_escape(name) %>"><%== full_name.presence || name %></a></li>
  <% end %>
</ul>
