<%= erb :_user %>

<p><a href="/">home</a></p>

<h1>Create a Net</h1>

<% if @my_clubs.any? %>
  <p>
    You are about to start a net. Only do this if you absolutely know what you are doing.
    If you are trying to participate in a net or join a net or call into a net, this is not
    where you do that. Instead, go back <a href="/">home</a> and find the net there.
    If it's not there, then whoever is responsible for running and/or logging the net hasn't
    started it yet.
  </p>

  <p>
    <strong>Do not continue unless you are a person in charge of this net!</strong>
  </p>

  <p class="warning-callout">
    <strong>This is a BETA feature.</strong> There is a good chance you may encounter bugs.
    Please use NetLogger if logging your net is critical to you and your netizens.
    If, on the other hand, you want to help me work out the kinks, carry on, friend!
  </p>

  <div data-component="CreateNet" data-props="<%= json_for_html_attribute({ net_control: @user.call_sign, clubs: @my_clubs.as_json }) %>"></div>
<% else %>
  <p class="error-callout">
    This is where you would enter details for your net, but you are not a
    logger for any club. Please <a href="mailto:<%== SUPPORT_EMAIL %>">contact Tim</a>.
  </p>
<% end %>

<%= script_tag 'net.js' %>
