<%= erb :_user %>

<p><a href="/">home</a></p>

<h1>Create a Net</h1>

<p>
  You are about to start a net. Only do this if you absolutely know what you are doing.
  If you are trying to participate in a net or join a net, this is not where you do that.
  Instead, go back <a href="/">home</a> and find the net there. If it's not there, then
  whoever is responsible for running and/or logging the net hasn't started it yet.
</p>

<p>
  <strong>Do not continue unless you are a person in charge of this net!</strong>
</p>

<div data-component="CreateNet" data-props="<%= json_for_html_attribute({ net_control: @user.call_sign }) %>"></div>

<%= script_tag 'net.js' %>
