<h1>Create a Net</h1>

<% if !@user.net_logger? %>

  <p>
    It is possible to create a net with RagChew.app, but you need to be added to our private beta first.
  </p>

  <p>
    Please <a href="mailto:<%== SUPPORT_EMAIL %>">email Tim</a> and request access. Also include
    which club or group you will be logging for.
  </p>

<% else %>

  <p class="warning-callout">
    <strong>You are about to start a net.</strong> This is not where you would join or participate in a net.
    This screen is for someone who is a net control operator or a net logger. :-)
  </p>

  <div data-component="CreateNet" data-props="<%= json_for_html_attribute({ net_control: @user.call_sign, clubs: @my_clubs.as_json }) %>"></div>

<% end %>
