<!doctype html>
<html lang="en">
  <head>
    <title>NetLogger Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/typesafe.css">
    <script src="/main.js"></script>
    <style>
      span.Offline { color: #ccc; }
      em.highlight { font-style: normal; background-color: #ffc; }
      h2 { border-bottom: 3px double #999; }
      body { max-width: 100%; }
      .timestamps { float: right; font-size: smaller; font-style: italic; }
      footer { margin-top: 25px; border-top: 1px solid #ccc; }
      footer p { font-size: smaller; color: #999; }
      footer a, footer a:visited { color: #999; }
      tr.currently-operating td { background-color: #fcf; }
      td { white-space: nowrap; }
      td.can-wrap { white-space: normal; min-width: 150px; }
      .error { color: red; }
      input { padding: 3px; margin: 0 3px 3px 0; }
      @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        .table-wrapper {
          overflow-x: auto;
        }
      }
    </style>
    <% if @last_updated_at %>
      <script>
        const secondsToWaitBetweenUpdates = <%= @update_interval || 20 %> + 1
        setTimeout(() => {
          updatePage()
          const interval = setInterval(updatePage, secondsToWaitBetweenUpdates * 1000)
          const twoHours = 60 * 60 * 2 * 1000
          setTimeout(() => { clearInterval(interval) }, twoHours)
        }, (secondsToWaitBetweenUpdates - <%= Time.now - @last_updated_at %>) * 1000)
      </script>
    <% end %>
  </head>
  <body>
    <%= yield %>
    <footer>
      <p>
        Built with ❤️ by KI5ZDF <a href="https://timmorgan.org">Tim Morgan</a>.
        This read-only user interface is not affiliated with NetLogger.org.
      </p>
    </footer>
  </body>
</html>
