<!doctype html>
<html lang="en">
  <head>
    <title>NetLogger Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/typesafe.css">
    <style>
      span.Offline { color: #ccc; }
      em.highlight { font-style: normal; background-color: #ffc; }
      h2 { border-bottom: 3px double #999; }
      body { max-width: 100%; }
      .last-updated { font-size: smaller; font-style: italic; }
      footer { margin-top: 25px; border-top: 1px solid #ccc; }
      footer p { font-size: smaller; color: #999; }
      footer a, footer a:visited { color: #999; }
    </style>
  </head>
  <body>
    <%= yield %>
    <footer>
      <p>
        Built with ❤️ by KI5ZDF <a href="https://timmorgan.org">Tim Morgan</a>.
        This read-only user interface is not affiliated with NetLogger.org.
      </p>
    </footer>
  </body>
</html>
