<p>
  Please log in with your <a href="https://www.qrz.com/">QRZ.com</a> username and password.
  <em class="highlight">It's free.</em>
</p>

<% if @error %>
  <p class="error"><%== @error %></p>
<% end %>

<form action="/login" method="post">
  <% if params[:net] %>
    <input type="hidden" name="net" value="<%== url_escape(params[:net]) %>"/>
  <% end %>
  <input name="call_sign" placeholder="call sign"/><br>
  <input type="password" name="password" placeholder="password"/><br/>
  <input type="submit" value="Log in"/>
</form>

<h2>A note about passwords.</h2>

<p>
  This server does <strong>not</strong> store your password. We only use it briefly
  to obtain a QRZ session identifier so this system knows who you are. (If you are
  interested, you can check out
  <a href="https://github.com/seven1m/ragchew.app/blob/master/lib/qrz.rb#L42">the open source code</a>
  where we send your credentials to QRZ and then discard them from memory.)
</p>

<p>
  But you donʼt have to trust us! There are many amateur radio software packages
  that want you to log in with QRZ, and you can protect your QRZ account by
  <a href="https://www.qrz.com/manager/two-factor">enabling Two Factor Authentication</a>.
  This prevents bad guys from messing with your account, even if they guess your password.
</p>

<p>
  As soon as QRZ.com implements industry-standard
  <a href="https://en.wikipedia.org/wiki/OAuth">OAuth</a>, I will change RagChew.app
  to allow you to log in <strong>without</strong> typing your password here.
</p>

<p>73. <a href="https://www.qrz.com/db/KI5ZDF">KI5ZDF</a>.</p>
