<p>
  Please log in with your <a href="https://www.qrz.com/">QRZ.com</a> username and password.
</p>

<p>
  This server does <strong>not</strong> store your password. We only use it to
  obtain a QRZ session identifier to use for lookups of call signs and photos.
</p>

<% if @error %>
  <p class="error"><%== @error %></p>
<% end %>

<form action="/login" method="post">
  <% if params[:net] %>
    <input type="hidden" name="net" value="<%== url_escape(params[:net]) %>"/>
  <% end %>
  <input name="call_sign" placeholder="call sign"/><br>
  <input type="password" name="password" placeholder="password"/><br/>
  <input type="submit" value="Login"/>
</form>
