<p><a href="/">home</a></p>

<h1>Net not found</h1>

<p>
  <% if @name %>
    We could not find a net with the name "<%== @name %>".
  <% else %>
    We could not find a net with that name.
  <% end %>
  <% if @net_count && @net_count > 0 %>
    You can visit the home page where <a href="/"><%= @net_count %> other net<%= @net_count == 1 ? '' : 's' %></a>
    are ongoing.
  <% else %>
    You can visit the <a href="/">home page</a>.
  <% end %>
</p>
