<% net_info = {
  userCallSign: @user.call_sign,
  club: @net.club&.as_json,
  clubLogo: @net.club&.logo_url,
  clubUrl: @net.club && "/group/#{url_escape(@net.club.name)}",
  net: @net.as_json,
  netId: @net.id,
  updateInterval: @update_interval,
  lastUpdatedAt: @last_updated_at,
  isLogger: @user.logging_net == @net,
  canLogForClub: @user.can_log_for_club?(@net.club),
  monitoringThisNet: @user.monitoring_net == @net,
  pusher: {
    key: pusher_key,
    cluster: pusher_cluster,
    authEndpoint: "/pusher/auth/#{@net.id}",
    channel: "private-net-#{@net.id}",
  }
} %>

<div data-component="Net" data-props="<%= json_for_html_attribute(net_info) %>">
  <p>loading...</p>
</div>

<%= erb :_admin_net_controls %>
