<%= erb :_user %>

<p><a href="/">home</a></p>

<h1>Preferences</h1>

<p>These settings change how the site works for you.</p>

<form action="/preferences" method="post">
  <label>
    Time format:<br />
    <select name="time_format">
      <% {
        local_24: "Local 24-hour",
        local_12: "Local 12-hour",
        utc_24: "UTC",
      }.each do |value, label| %>
        <option value="<%= value %>" <%- if @user.time_format.to_sym == value %>selected<%- end %>><%= label %></option>
      <% end %>
    </select>
  </label>
  <p><input type="submit" value="Save" /></p>
</form>
