<form action="/register" method="post">
  <input name="call_sign" placeholder="call sign"/><br>
  <input type="password" name="password" placeholder="password"/><br/>
  <input type="password" name="password_confirmation" placeholder="password again"/><br/>
  <input type="submit" value="Register"/>
</form>
