<h1>Suggest a Club</h1>

<form action="/suggest-club" method="post">
  <label class="">Short name, initials, or call sign:<br><input name="name" required maxlength="64" placeholder="W5IAS or TARC"></label>
  
  <label class="">Full Name:<br><input name="full_name" maxlength="128" placeholder="Tulsa Amateur Radio Club"></label>
  
  <label class="">Website:<br><input name="website" type="url"></label>
  
  <label class="">Description:<br><textarea name="description" rows="4" cols="50"></textarea></label>
  
  <label class="">Nets:<br><textarea name="nets" rows="3" cols="50"></textarea></label>
  
  <input type="submit" value="Submit Suggestion">
  <a href="/groups">Cancel</a>
</form>
